*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}
.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(20, 9, 9, 0.05)), url('/static/img/Nhan.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
}
.container{
    box-sizing: border-box;
    margin: 0 auto;
   
}
h1{
    color: white;
}
a{
    text-decoration: none;
}
form{
    margin-top: 10%;
    box-sizing: border-box;
}
.input_text{
    border: none;
    border-radius: 3px;
    margin-right: 10px;
}
.txt_area{
    line-height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.btn{
    padding: 18px 50px;
    font-weight: 600;
    color: white;
    background-color: rgb(5, 170, 93);
    border: none;
    border-radius: 5px;
}
.btn:hover{
    cursor: pointer;
}
p{
    color: white;
    font-size: 1.2rem;
    margin-top: 30px;
}

#file{
    display: none;
} 
.upload_file-icon{
    font-size: 30px;
    color: white;
}
.upload_file-icon:hover{
    cursor: pointer;
}
#fileName{
    /* border: solid 1px rgb(250, 250, 250); */
    width: 400px;
    height: 24px;
    font-size: 1.4rem;
    line-height: 24px;
    color: white;
    margin: 0 auto;
    margin-bottom: 10px;
}
.result_container{
    display: flex;
    width: 200px;
    margin: 40px auto;
    justify-content: flex-start;
    box-sizing: border-box;
}
.result_text{
    margin: 0;
    box-sizing: border-box;
    min-width: 200px;
}
.result_label{
    margin: 0;
    text-align: center;
}