body{
    background-color: rebeccapurple;
    text-align: center;
}
.container{
    height: 300px;
    margin: 0 auto;
}
h1{
    color: white;
}
a{
    text-decoration: none;
}
form{
    margin-top: 10%;
    box-sizing: border-box;
}
.input_text{
    border: none;
    border-radius: 3px;
}
.btn{
    padding: 18px 50px;
    font-weight: 600;
    color: white;
    background-color: rgb(5, 170, 93);
    border: none;
    border-radius: 5px;
}
.btn:hover{
    cursor: pointer;
}
p{
    color: white;
    font-size: 1.2rem;
    margin-top: 30px;
}

#file{
    display: none;
}
.upload_file{
    margin-top: 10px;  
}
.wrapp{
    display: flex;
    margin-top: 10px;
    margin-left: 490px;
    margin-bottom: 10px;
}
.upload_file-icon{
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: white;
}
.upload_file-icon:hover{
    cursor: pointer;
}
#fileName{
    border: solid 1px #333;
    width: 400px;
    height: 24px;
    font-size: 1.4rem;
    line-height: 24px;
    margin-right: 9px;
    text-align: center;
    border: none;
    color: white;
}