{% extends 'base.html' %}
{% block title %}VNTC{% endblock %}
{% block content %}
<form class="form_text" method="POST" enctype="multipart/form-data">
    <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
    </div>
    <div class="txt_area">
        <textarea class="input_text" id="text_area" name="text_area" rows="3" cols="70" autocomplete="off"></textarea>
        <label for="file" class="upload_file-icon">
            <i class="fas fa-paperclip"></i>
        </label>
    </div>
    <input type="file" name="file" id="file">
    <div id="fileName"></div>
    <button type="submit" class="btn">Predict</button>
    <div class="result_container">
        <p class="result_label" >Result: </p>
        <p class="result_text">{{ result }}</p>
    </div>
    
</form>
{% endblock %}
{% block script %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(function () 
        {
            $("#file").change(function (event) {
                var x = event.target.files[0].name
                $("#fileName").text(x)
            });
        })
</script>
{% endblock %}