{% extends 'base.html' %}
{% block title %}VNTC{% endblock %}
{% block content %}
<div class="grid_col_7">
    <form class="form_text" method="POST" enctype="multipart/form-data">
        <div class="txt_area">
            <textarea class="input_text" id="text_area" name="text_area" rows="10" cols="100" autocomplete="off"></textarea>
        </div>
        <div class="file_area">
            <label for="file" class="upload_file-icon">
                <i class="fas fa-paperclip"></i>
            </label>
            <input type="file" name="file" id="file">
            <div id="fileName"></div>
        </div>
        <button type="submit" class="btn">PREDICT</button>
    </form>
</div>
<div class="grid_col_3">
    <table class="table_result">
        <tr>
          <th>Result</th>
          <th>Confidence (%)</th>
        </tr>
        <tr>
          <td>{{ result }}</td>
          <td class="confidence">{{ confidence }}</td>
        </tr>
    </table>
</div>
{% endblock %}
{% block script %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
                $(window).on('load', function () {
                    $("#file").change(function (event) {
                            var x = event.target.files[0].name;
                            $("#fileName").text(x)
                        });
                    var confidence = $(".confidence").text();
                    var confidence = parseFloat(confidence);
                    if(confidence > 0 && confidence < 50){
                        $(".confidence").css('color','#e90909');
                    }else if(confidence >= 80){
                        $(".confidence").css('color','green');
                    }else{
                        $(".confidence").css('color','#fbbe28');
                    }
                })

</script>
{% endblock %}